* {
    margin: 0;
    padding: 0;
}

/* CSS for Q1 */
.navbar {
    background-color:  rgb(255, 216, 165);
    width: 100%;
    height: 80px;
}

.navbar ul li a {
    /* color: white; */
    color: #000;
    text-decoration: none;
    font-weight: 344;
    /* float: right; */
}
.navbar ul li a:hover{ 
    color: red;
}


.navbar ul li {
    margin-top: 22px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 50px;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    align-content: center;
    /* background-color: aquamarine; */
    height: 550px;
}

.pic {
    background-color: rgb(255, 192, 110);
    height: 408px;
    width: 395px;
    margin-top: 100px;
    margin-left: 86px;
    margin-bottom: 90px;
    background-image: url(./images/model1.png);
    background-repeat: no-repeat;
    border-radius: 130px;
    order: 1;
}
.intro{
    font-family: monospace;
    font-size: 20px;
    order: 2;
    height: 100px;
    width: 500px;
    /* margin-top: 40px; */
    margin: 200px 200px 100px 100px;
    /* align-self: flex-start; */
}
.atribute-heading{
    font-family: monospace;
    font-weight: bold;
    font-size: 28px;
    margin: 10px 20px;
    display: block;
    text-align: center;
    letter-spacing: 1px;
}
.atribute-heading:hover{
  color: rgb(255, 192, 110);
}
.skill-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 20px;
}
.box{
    width: calc(16.66% - 20px);
    height: 200px;
    background-color:white;
    /* margin-right: 20px; */
  }
.skill-icons{
    /* align-self: center; */
    margin: 10px 30px 10px 30px;
}
/* CSS for cerificates */
.container {
    position: relative;
    width: 100%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    /* background-color: #ff790b; */
    /* color: white; */
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none;
    color: black;
  }
.footer{
  width: 100vw;
  height: 250px;
  /* background-color: red; */
}
.footer-text{
  margin: -55px 90px 190px 10px;
  font-family: monospace;
  font-size: 15px;
  text-decoration: none;
  color: black;
  display: contents;
}
.last-block{
  background-color: black;
  width: 100vw;
  height: 40px;
}
.last-block a{
  color: black;
  text-align: center;
  font-family: monospace;
  letter-spacing: 1px;
  margin-top: 40px;
  padding-top: -10px ;
  text-decoration: none;
}